@media only screen and (min-width:577px) and (max-width: 2000px)
{
  .size-sidebar{
      height: 150vh ;
      width: 250px ;
    }

}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .size-sidebar{
  height: 100% ;
  width: 100% ;
}

}

